/* 
основиний текст: #757575;
другорядний текст:  #212121;
білий : #FFFFFF;
footer rgba(255, 255, 255, 0.6);  
background: #FFFFFF99;
hero підвал: #2F303A;
1 секція: #F5F5F5
2 секція: #F5F4FA;
акцент: #2196F3
активна кнопка: #188CE8
 */

:root {
  --main-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --transparent-color: #ffffff99;
  --bg-color-dark: #2f303a;
  --bg-color-work: #f5f5f5;
  --bg-color-team: #f5f4fa;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* RESET */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  /* outline: red 1px solid; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-work-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
  width: 100%;
}

/* Logo */
.header-logo {
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;

  color: var(--accent-color);
}
.logo-style {
  color: #000;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list .item:not(:first-child) {
  margin-left: 50px;
}

.page-header {
  background-color: var(--white-color);
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);

  cursor: pointer;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-tel .link {
  display: flex;
  align-items: center;

  color: inherit;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link .icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts {
  margin-left: auto;
}

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: var(--bg-color-dark);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;

  letter-spacing: 0.06em;
  color: var(--white-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid transparent;
  border-radius: 4px;

  background-color: var(--accent-color);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Наша ефективність */

.about {
  padding-bottom: 0;

  background-color: var(--white-color);
}

.about-list {
  display: flex;
}

.about-list .item {
  flex-basis: calc((100% - 90px) / 4);
  margin-left: 30px;
}

.about-list .item:first-child {
  margin-left: 0;
}

.about .thumb {
  margin-bottom: 30px;

  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: var(--bg-color-team);
}

.about-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--title-text-color);
}

.about-text {
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* ЧИМ МИ ЗАЙМАЄМОСЯ */

.work {
  background-color: var(--white-color);
}

.work .list {
  display: flex;
}

.work-list .item {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
}

.work-list .item:first-child {
  margin-left: 0;
}

.work-item {
  position: relative;
  overflow: hidden;
}

.work-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* НАША КОМАНДА */
.team {
  background-color: var(--bg-color-team);
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
}

.team-list > .item {
  width: calc((100% - 90px) / 4);
  margin-left: 30px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--white-color);
}

.team-list > .item:first-child {
  margin-left: 0;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--title-text-color);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

/* ІКОНКИ СОЦ */
.team-icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-icon > .item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  background-color: var(--white-color);
}

.team-icon > .item:last-child {
  margin-right: 0;
}

.team-icon .link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--icon-color);
}

.team-icon .link:hover,
.team-icon .link:focus {
  background-color: var(--accent-color);
}

.team-icon .icon {
  fill: currentColor;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.team-icon .link:hover,
.team-icon .link:focus {
  color: var(--white-color);
}

/* ПОСТІЙНІ КЛІЄНТИ */

.client-icon {
  display: flex;
}

.client-icon .item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.client-icon .item:last-child {
  margin-right: 0;
}

.client-icon .link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  color: var(--icon-color);
}

.client-icon .link:hover,
.client-icon .link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon .icon {
  fill: currentColor;
}

/* ПІДВАЛ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color-dark);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 93px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-color {
  color: var(--white-color);
}

.address {
  display: block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.mail-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--transparent-color);
}

.footer-socials {
  margin-right: 93px;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* ІКОНКИ ПІДВАЛУ */

.social-icon {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.social-icon > .item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-icon > .item:last-child {
  margin-right: 0;
}

.social-icon .link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.social-icon .link:hover,
.social-icon .link:focus {
  background-color: var(--accent-color);
}

.social-icon .icon {
  fill: currentColor;
}

.social-icon .icon:focus {
  color: var(--white-color);
}

.footer-email {
  display: flex;
  align-items: center;
}

.footer-input {
  width: 358px;
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  /* font: inherit; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--white-color);
  background-color: transparent;
  transition: border-color 250ms var(--timing-function);
}

.footer-input:focus,
.footer-input:hover {
  border-color: var(--accent-color);
  outline: none;
}

.footer-button {
  display: block;
  width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: 1px solid var(--accent-color);
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  fill: var(--white-color);
}

/* Portfolio */

.project {
  background-color: var(--white-color);
}

/* Кнопки */
.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button-list .item:not(:first-child) {
  margin-left: 8px;
}

.button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  border: none;
  border-radius: 4px;

  background-color: var(--bg-color-team);
  color: var(--title-text-color);
}

.button:hover,
.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* Проекти */
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list .item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list .item:nth-child(3n) {
  margin-right: 0;
}
.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-description {
  position: relative;
  overflow: hidden;
}

.img-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-list .item:hover .img-text {
  transform: translateY(0);
}
.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.project-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}

/* МОДАЛЬНЕ ВІКНО */

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  position: absolute;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal .close-sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  top: 8px;
  right: 8px;

  padding: 6px;

  background-color: var(--white-color);
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms var(--timing-function);

  cursor: pointer;
}

.close-sign:hover .modal-button,
.close-sign:focus .modal-button {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Сюди вставити */
.title-modal {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  color: var(--title-text-color);
}

.form-field {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.modal-label,
.textarea-label {
  display: block;
  width: 100%;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--main-color);
}

.modal-input {
  width: 100%;
  margin: 0;
  padding: 12px 15px;
  padding-left: 42px;
  font: inherit;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms var(--timing-function);
}

.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
  cursor: pointer;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);

  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
}

.form-textarea {
  margin-bottom: 20px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::placeholder {
  font-size: 12px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.modal-input:focus + .input-icon,
.modal-input:hover + .input-icon {
  fill: var(--accent-color);
}

.check-line {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-agree {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 24px;
}

.checkbox-agree .icon-wrapper {
  width: 16px;
  height: 15px;
  background-color: var(--white-color);
  border: 2px solid var(--title-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--timing-function);
}

.checkbox-agree .agree-icon {
  fill: transparent;
  transition: fill 250ms var(--timing-function);
}

.check-line input:checked + .checkbox-agree .icon-wrapper {
  background-color: var(--accent-color);
  border: none;
}

.check-line input:checked + .checkbox-agree .agree-icon {
  fill: var(--white-color);
}

.form-link {
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--accent-color);
}

.modal-submit {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
