.client__list {
    display: flex;
}
 
.client__item {
    margin-right: 30px;
    width: 170px;
    height: 92px;

    &:last-child {
      margin-right: 0;
  }
}
  
.client__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  
    transition: color $transition-duration $transition-timing-function, border $transition-duration $transition-timing-function;
  
    border: 1px solid $icon-color;
    border-radius: 4px;
  
    color: $icon-color;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
}

.client__icon {
  fill: currentColor;
}