.logo {
  display: block;
  margin-right: 93px;
  
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  
  color: $accent-color;

  &--color {
    color: $black-color;
  }
}